@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("http://fonts.cdnfonts.com/css/helvetica-neue-9");
:root {
  --body-font: "Poppins", sans-serif;
  --title-font: "Helvetica Neue", sans-serif;

  --header-height: 6rem;

  --body-color: #eceeed;
  --container-color: #ffffff;
  --primary-color: #76dcc4;
  --primary-color-dark: #62c4ad;
  --primary-color-rgb: 118, 220, 196;
  --secondary-color: #061220;
  --secondary-color-alt: #0f2238;
  --secondary-color-rgb: 9, 24, 41;
  --button-color: #265a4e;
  --text-color: #1b2635;
  --text-color-light: #243144;
  --title-color: #09131f;

  --biggest-font-size: 2.75rem;
  --big-font-size: 2.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 3.75rem;
    --big-font-size: 2.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 200%;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--body-color);
}

::-webkit-scrollbar-thumb {
  background: var(--container-color);
  border-radius: 1rem;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  /* padding: 7.5rem 0; */
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1224px;
}

@media screen and (max-width: 391px) {
  .container {
    padding: 0.5rem;
  }
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  z-index: 1000;
  transition: all 0.3s;
}

.header.active {
  background: var(--container-color);
  border-bottom: 1px solid var(--secondary-color);
  transition: all 0.3s;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.nav a {
  color: var(--text-color);
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-logo img {
  width: 2rem;
  object-fit: cover;
  border-radius: 4rem;
}

.nav-list {
  display: flex;
  gap: 3rem;
}

.nav-cta {
  background: var(--secondary-color) !important;
  padding: 0.75rem 1.25rem;
  border-radius: 3rem;
  color: var(--body-color) !important;
  /* text-transform: uppercase; */
  transition: all 0.3s ease-in-out;
}

.nav-cta:hover {
  background: var(--secondary-color-alt);
  transition: all 0.3s ease-in-out;
}

.mobile-cta {
  display: none;
}

.nav-mobile-cta a {
  background: var(--title-color);
  padding: 1.15rem 1.75rem;
  border-radius: 3rem;
  color: var(--body-color);
}

@media screen and (max-width: 624px) {
  .mobile-cta {
    display: block;
  }
  .nav-cta {
    display: none;
  }

  .nav-toggle,
  .nav-close {
    font-size: 1.25rem;
    cursor: pointer;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-color);
    opacity: 0;
    transition: all 0.6s ease-in-out;
  }

  .nav-menu.active {
    right: 0;
    opacity: 1;
    transition: all 0.6s ease-in-out;
  }

  .nav-list {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .nav-close {
    position: absolute;
    top: 2.35rem;
    right: 1rem;
  }
}

/* buttons  */

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 0.75rem 3rem;
  margin: 0;
  background: var(--secondary-color);
  background-image: none;
  border-radius: 3rem;
  border: none;
  color: var(--body-color);
  text-transform: uppercase;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  width: max-content;
  height: max-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  box-shadow: 0 10px 30px rgba(var(--secondary-color-rgb), 0.2);
}

.button:hover {
  background: var(--secondary-color-alt);
  transition: all 0.3s ease-in-out;
}

.button-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 0.75rem 3rem;
  margin: 0;
  background: none;
  background-image: none;
  border-radius: 3rem;
  border: 2px solid var(--primary-color-dark);
  color: var(--primary-color);
  outline: 0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  width: max-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.button-primary:hover {
  background: rgba(var(--primary-color-rgb), 0.2);
  transition: all 0.3s ease-in-out;
}

.button-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  color: var(--primary-color);
  outline: 0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  width: max-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin: 0;
}

@media screen and (max-width: 439px) {
  .buttons {
    flex-direction: column;
    align-items: center;
  }
}

.container.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero-img {
  margin-top: -3rem;
}

.hero-img-mobile {
  display: none;
}

.hero-img-pc {
  max-width: 451.25px;
  height: 838.75px;
}

.container-data.hero {
  padding-top: 8.5rem;
  width: 100%;
}

.title {
  font-size: var(--biggest-font-size);
  line-height: 1.2;
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  font-family: var(--title-font);
}

.buttons.hero {
  display: flex;
  height: 3.5rem;
  gap: 0;
  width: max-content;
  margin-top: 2rem;
}

.external-link-wrap {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  padding: 1rem;
  transform: rotate(45deg);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--container-color);
}

.external-link-wrap i {
  font-size: 1.5rem;
}

ul.hero-container-data {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.hero-container-data li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--secondary-color);
  padding: 1rem 0 1.5rem 0;
}

.hero-container-data .number {
  font-size: var(--big-font-size);
  font-weight: var(--font-semi-bold);
}

.hero-container-data .li-title {
  font-weight: normal;
  font-size: var(--small-font-size);
}

.hero-container-data .li-duration {
  font-size: var(--smaller-font-size);
  font-weight: normal;
}

@media screen and (max-width: 854px) {
  .hero-img-pc {
    display: none;
  }

  .hero-img-mobile {
    display: block;
    align-self: center;
    width: 100%;
    transform: translate(5%, 5%);
  }

  .hero-img {
    width: 100%;
    display: grid;
    place-items: center;
    max-width: 753.333333333px;
    max-height: 360.666666667px;
    margin-top: 6rem;
  }

  .container.hero {
    grid-template-columns: repeat(1, 1fr);
    place-content: center;
    place-items: center;
  }

  .container-data.hero {
    padding-top: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 478px) {
  .hero-img {
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0.1;
  }

  .container-data.hero {
    padding-top: 6rem;
  }

  .external-link-wrap {
    display: none;
  }
}

.container.projects {
  padding-top: 5rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  list-style: none;
  padding: 0px;
  margin: 50px 0px 0px;
  gap: 1.25rem;
  position: relative;
}

.projects-item {
  background: var(--container-color);
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.projects-item:hover {
  transform: translateY(-7.5px);
  transition: all 0.3s ease;
}

.project-inner {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 2rem 1.75rem;
  border-radius: var(--border-radius);
  transition: all 0.3s;
}

.project-top {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 35px;
}

.project-top .folder {
  color: var(--primary-color);
  font-size: 3rem;
}

.project-links {
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  z-index: 10;
  justify-content: center;
}

.project-links a {
  color: var(--text-color);
  transition: all 0.3s;
}
.project-links a:hover {
  color: var(--primary-color);
  transition: all 0.3s;
}

.project-title {
  margin: 0px 0px 10px;
  font-size: var(--big-font-size);
  line-height: 1.4;
}

.project-title a {
  color: var(--title-color);
}

.project-title a::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.project-description {
  font-size: var(--small-font-size);
  line-height: 1.5;
}

.project-tech-list {
  display: flex;
  align-items: flex-end;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none;
}

.project-tech-list li:not(:last-of-type) {
  margin-right: 15px;
}

@media screen and (max-width: 391px) {
  .title.fancy {
    align-items: center;
    text-align: center;
  }
}

.footer {
  background: var(--container-color);
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer .container {
  display: grid;
  row-gap: 2.5rem;
}

.footer-logo {
  color: var(--secondary-color);
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  display: inline-flex;
  font-weight: var(--font-semi-bold);
}

.footer-description {
  max-width: 22rem;
}

.footer-description,
.footer-links li {
  font-size: var(--small-font-size);
  font-weight: normal;
}

.footer-content,
.footer-links {
  display: grid;
}

.footer-content {
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 4rem;
}

.footer-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.footer-links {
  row-gap: 0.5rem;
}

.footer-links li a {
  color: var(--text-color);
  transition: 0.3s;
}

.footer-links li a:hover {
  color: var(--title-color);
  transition: 0.3s;
}

.footer-social {
  display: flex;
  column-gap: 1rem;
}

.footer-social-link {
  font-size: 1.25rem;
  color: var(--text-color);
  transition: 0.3s;
}

.footer-social-link:hover {
  color: var(--title-color);
}

@media screen and (min-width: 767px) {
  .footer .container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer-title {
    margin-bottom: 1.5rem;
  }

  .footer-links {
    row-gap: 1rem;
  }
}
