@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --body-font: "Poppins", sans-serif;

  --header-height: 6rem;

  --body-color: #08111f;
  --container-color: #112240;
  --primary-color: #64ffda;
  --primary-color-dark: #5ce6c5;
  --primary-color-rgb: 100, 255, 218;
  --button-color: #265a4e;
  --text-color: #7d87a4;
  --text-color-light: #9fa6bd;
  --title-color: #8892b0;

  --biggest-font-size: 3.25rem;
  --big-font-size: 2.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 3.75rem;
    --big-font-size: 2.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 200%;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--body-color);
}

::-webkit-scrollbar-thumb {
  background: var(--container-color);
  border-radius: 1rem;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 7.5rem 0;
}

.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1254px;
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  z-index: 1000;
  background-color: var(--body-color);
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.nav a {
  color: var(--text-color);
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-logo img {
  width: 2rem;
  object-fit: cover;
  border-radius: 4rem;
}

.nav-list {
  display: flex;
  gap: 3rem;
}

.nav-cta,
.nav-mobile-cta {
  background: var(--primary-color);
  padding: 0.75rem 1.25rem;
  border-radius: 3rem;
  color: var(--button-color) !important;
  transition: all 0.3s ease-in-out;
}

.nav-cta:hover,
.nav-mobile-cta:hover {
  background: var(--primary-color-dark);
  transition: all 0.3s ease-in-out;
}

.mobile-cta {
  display: none;
}

@media screen and (max-width: 624px) {
  .mobile-cta {
    display: block;
  }
  .nav-cta {
    display: none;
  }

  .nav-toggle,
  .nav-close {
    font-size: 1.25rem;
    cursor: pointer;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-color);
    opacity: 0;
    transition: all 0.6s ease-in-out;
  }

  .nav-menu.active {
    right: 0;
    opacity: 1;
    transition: all 0.6s ease-in-out;
  }

  .nav-list {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .nav-close {
    position: absolute;
    top: 2.35rem;
    right: 1rem;
  }
}

/* buttons  */

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 0.75rem 3rem;
  margin: 0;
  background: var(--primary-color);
  background-image: none;
  border-radius: 3rem;
  border: none;
  color: var(--primary-color);
  outline: 0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  width: max-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.button:hover {
  background: rgba(var(--accent-color-rgb), 0.1);
  transition: all 0.3s ease-in-out;
}

.button-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 0.75rem 3rem;
  margin: 0;
  background: none;
  background-image: none;
  border-radius: 3rem;
  border: 2px solid var(--primary-color-dark);
  color: var(--primary-color);
  outline: 0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  width: max-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.button-primary:hover {
  background: rgba(var(--primary-color-rgb), 0.2);
  transition: all 0.3s ease-in-out;
}

.button-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  color: var(--primary-color);
  outline: 0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  width: max-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin: 0;
}

@media screen and (max-width: 439px) {
  .buttons {
    flex-direction: column;
    align-items: center;
  }
}

/* home  */
.container.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.title {
  font-size: var(--biggest-font-size);
  line-height: 1;
  color: var(--title-color);
}

.description {
  max-width: 33.75rem;
  line-height: 140%;
  margin-top: 2rem;
}

.container-data.home {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.buttons.home {
  margin-top: 5rem;
}

.container-elements.home {
  position: relative;
}

.element-profile {
  display: flex;
  border-radius: 1rem;
  width: 400px;
  box-shadow: 0 15px 30px -8px rgba(0, 0, 0, 0.127);
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  background: none;
  font-size: var(--smaller-font-size);
  transition: all 0.25s ease;
  position: absolute;
  gap: 1rem;
  top: 0;
  left: 0;
  -webkit-animation: compAnim 5s ease infinite;
  animation: compAnim 5s ease infinite;
}

.element-profile-img {
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.element-title {
  font-size: var(--small-font-size);
}

.element-description {
  font-size: var(--smaller-font-size);
  line-height: 1.5;
}

.element-buttons {
  margin-top: 0.5rem;
}

.element-button {
  margin-right: 1rem;
  padding: 8px 12px;
  background: var(--primary-color);
  width: max-content;
  color: var(--button-color);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.element-button:hover {
  background-color: var(--primary-color-dark);
  transition: all 0.3s;
}

.element-list {
  width: 300px;
  padding: 15px;
  font-size: var(--small-font-size);
  border-radius: 20px;
  top: 180px;
  left: 0;
  position: absolute;
  box-shadow: 0 8px 30px -2px rgba(0, 0, 0, 0.127);
  transition: all 0.25s ease;
  -webkit-animation: compAnim 8s ease infinite;
  animation: compAnim 8s ease infinite;
}

.element-list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.element-checkbox-wrap {
  cursor: pointer;
  width: 1.25rem;
  position: relative;
  height: 1.25rem;
}
.element-checkmark {
  width: 100%;
  height: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.element-checkmark i {
  opacity: 0;
  color: var(--primary-color);
  transition: all 0.3s;
}

.element-checkbox:checked + .element-checkmark i {
  opacity: 1;
  transition: all 0.3s;
}

.element-checkbox {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  appearance: none;
  cursor: pointer;
  height: 100%;
}

.element-logo {
  width: 140px;
  height: 140px;
  position: absolute;
  left: 460px;
  top: 0;
  box-shadow: 0 15px 30px -8px rgb(0 0 0 / 8%);
  border-radius: 1rem;
  padding: 1.5rem;
  transition: all 0.25s ease;
  animation: compAnim 9s ease infinite reverse;
}

.element-logo img {
  border-radius: 0.5rem;
}

.element-dropdown {
  width: 260px;
  background: var(--vs-theme-layout);
  border-radius: 30px;
  padding: 15px;
  position: absolute;
  left: 365px;
  top: 180px;
  z-index: 100;
  box-shadow: 0 15px 30px -8px rgb(0 0 0 / 8%);
  transition: all 0.25s ease;
  font-size: var(--small-font-size);
  user-select: none;
  position: relative;
  -webkit-animation: compAnim 15s ease infinite;
  animation: compAnim 15s ease infinite;
}

.element-dropdown-btn {
  user-select: none;
  padding: 4px 15px;
  background: var(--container-color);
  box-shadow: 0 0 0 0 rgb(0 0 0 / 5%);
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.element-dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.3s;
  transform: translateY(-10px);
  padding: 4px 15px;
  box-shadow: 0 15px 30px -8px rgb(0 0 0 / 8%);
  border-radius: 0.75rem;
  -webkit-animation: compAnim 7s ease infinite;
  animation: compAnim 7s ease infinite;
}

.element-dropdown-item {
  padding: 4px;
  transition: all 0.3s;
  cursor: pointer;
}

.element-dropdown-item:hover {
  color: var(--primary-color);
  transform: translateX(10px);
  transition: all 0.3s;
}

.element-dropdown-content.active {
  opacity: 1;
  transition: all 0.3s;
  transform: translateY(0);
}

.element-dropdown-btn i {
  transition: all 0.3s;
}

.element-dropdown-btn.active i {
  transform: rotate(-180deg);
  transition: all 0.3s;
}

.element-load {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 160px;
  height: 160px;
  padding: 20px;
  border-radius: 30px;
  top: 375px;
  left: 50px;
  box-shadow: 0 8px 30px -2px rgba(0, 0, 0, 0.127);
  transition: all 0.25s ease;
  z-index: 200;
  -webkit-animation: compAnim 20s ease infinite;
  animation: compAnim 20s ease infinite;
}

.element-load-loader {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border-left: 8px solid rgba(var(--primary-color-rgb), 1);
  box-shadow: 0 0 20px 0 rgba(var(--primary-color-rgb), 0.1),
    inset 0 0 20px 0 rgba(var(--primary-color-rgb), 0.1);
  border: 8px solid var(--primary-color-dark);
  border-left-color: rgba(var(--primary-color-rgb), 0.2);
  transform: rotate(45deg);
  animation: loader infinite 6s ease;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.element-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 425px;
  left: 350px;
  transition: all 0.25s ease;
  -webkit-animation: compAnim 10s ease infinite;
  animation: compAnim 10s ease infinite;
}

.element-text-inp-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.element-text-inp {
  background: var(--container-color);
  outline: none;
  border: none;
  border-radius: 0.75rem;
  padding: 10px 15px;
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  color: var(--text-color);
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 4%);
  width: 225px;
}

.element-text-label {
  position: absolute;
  left: 15px;
  top: 2px;
  color: var(--text-color-light);
  transform: translateX(0);
  opacity: 1;
  transition: all 0.3s;
}

.element-text-inp:not(:placeholder-shown) + .element-text-label {
  transform: translateX(5px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.element-text-btn {
  padding: 10px;
  margin-left: 1rem;
  display: grid;
  place-content: center;
  background: var(--primary-color);
  color: var(--button-color);
  transition: all 0.3s;
  border-radius: 0.75rem;
  cursor: pointer;
}

.element-text-btn:hover {
  background: var(--primary-color-dark);
  color: var(--button-color);
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .container-data.home {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .container.home {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
  .section.projects {
    padding-top: 30rem;
  }
}

@media screen and (max-width: 624px) {
  .container-elements.home {
    display: none;
  }

  .section.projects {
    padding-top: 0;
  }
}

@keyframes compAnim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  0% {
    transform: translateY(0);
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  list-style: none;
  padding: 0px;
  margin: 50px 0px 0px;
  gap: 15px;
  position: relative;
}

.projects-item {
  background: var(--container-color);
  border-radius: 1rem;
}

.project-inner {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 2rem 1.75rem;
  border-radius: var(--border-radius);
  background-color: var(--light-navy);
  transition: var(--transition);
}

.project-top {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 35px;
}

.project-top .folder {
  color: var(--primary-color);
  font-size: 3rem;
}

.project-links {
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  z-index: 10;
  justify-content: center;
}

.project-links a {
  color: var(--text-color);
  transition: all 0.3s;
}
.project-links a:hover {
  color: var(--primary-color);
  transition: all 0.3s;
}

.project-title {
  margin: 0px 0px 10px;
  font-size: var(--big-font-size);
  line-height: 1.4;
}

.project-title a {
  color: var(--primary-color);
}

.project-title a::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.project-description {
  font-size: var(--small-font-size);
  line-height: 1.5;
}

.project-tech-list {
  display: flex;
  align-items: flex-end;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none;
}

.project-tech-list li:not(:last-of-type) {
  margin-right: 15px;
}
